# Ignore config files with sensitive data
config/config.json
config/db.js

# Ignore node_modules folder
node_modules/

# Ignore log files
*.log

# Ignore environment variable files
.env
.env.local
.env.*.local

# Ignore npm debug logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Ignore editor directories and files
.vscode/
.idea/
.DS_Store
